<div class="wrapper container-fluid">
    <p>Guest User</p>
    <div >
      <div class="text-center">
        <h1 class="">Ask A Question</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name" placeholder="Enter name">
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <textarea class="form-rounded p-5 w-75" name="answer-portal" id="" placeholder="Type your answer here" cols="30" rows="10"></textarea>
        <div class="row">
          <div class="col-sm-6">
            <button type="button" class="btn btn-success m-3"> <i class="fa fa-arrow-left" aria-hidden="true"></i><- Submit</button>
            <button type="button" class="btn btn-success m-3"> <i class="fa fa-arrow-right" aria-hidden="true"></i> NEXT -> </button>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  