<div class="wrapper container-fluid h-100" *ngIf="item">
    <div class="py-5">
        <form [formGroup]="responseForm" (submit)="submitAnswerByText(responseForm.value)">
            <div class="text-center">
                <h4 class="text-white">Question</h4>
                <br>
                <h2 class="text-white">{{item.question}}</h2>
                <textarea formControlName="answer" class="form-rounded p-5 w-75 text-danger" name="answer-portal" id="" placeholder="Type your answer here" cols="30" rows="10"></textarea>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row justify-content-center">
                            <div class="col-auto w-75 ml-15">
                                <button type="button" class="btn btn-success m-3" (click)="navigatingToLastQuestion(item)"> <i class="fa fa-arrow-left" aria-hidden="true"></i> PREVIOUS</button>
                                <button type="button" class="btn btn-success m-3" (click)="navigatingToNextQuestion(item)">NEXT <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                <button type="button" (click)="editAnswer(item)" class="btn btn-success m-3"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                                <button type="button" (click)="submitAnswerByText(responseForm.value)" class="btn btn-success m-3"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row justify-content-center">
                            <div class="col-auto w-75 ml-15">
                                <a class="btn btn-info m-3" href="javascript:void(0);" (click)="openSm(content,item)">
                                    <i class="fa fa-file-audio-o" aria-hidden="true"></i> Record Answer
                                </a>
                                <a href="javascript:void(0);" class="btn btn-info m-3" (click)="openAttachment(saveFile)">
                                    <i class="fa fa-file-archive-o" aria-hidden="true"></i> Attach a File
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal popup -->
<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button> -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Record Dialog Box</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div *ngIf="!item.recordAnswer">
            <p>Record Your Answer Here</p>
            <button class="start-button" *ngIf="!item.isRecording && !item.blobUrl" (click)="startRecording(item)">Start Recording <i class="fa fa-play" aria-hidden="true"></i></button>
            <button class="stop-button" *ngIf="item.isRecording && !item.blobUrl" (click)="stopRecording(item)">Stop Recording <i class="fa fa-stop" aria-hidden="true"></i></button>
            <div *ngIf="item.isRecording && !item.blobUrl"> {{item.recordedTime}} </div>
            <div class="form-row" *ngIf="currentFileUpload">
                <div class="progress w-100 m-3">
                    <div class="progress-bar  progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                        {{uploadProgress | async | number:'1.0-0'}}%</div>
                </div>
            </div>
            <div>
                <audio *ngIf="!item.isRecording && item.blobUrl" controls>
                  <source [src]="item.blobUrl" type="audio/webm">
                </audio>
            </div>
        </div>
        <div class="border" *ngIf="item.recordAnswer">
            <p>Your Answer Here</p>
            <audio controls>
                <source [src]="item.recordAnswer" type="audio/webm">
            </audio>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="upload(item)">Save <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
    </div>
</ng-template>


<app-save-file #saveFile [basePath]="'attachment'" [item]="item" (response)="saveAttachment($event)"></app-save-file>