<div class="wrapper container-fluid">
  <p>Admin User</p>
  <p class="text-right" [routerLink]="['/submit-question']" routerLinkActive="router-link-active" >Submit question</p>
  <div *ngFor="let item of tempQuestions; let i = index">
    <div class="text-center">
      <h1 class="">Question No {{i+1}}:</h1>
      <p class="">{{item.question}}</p>
      <textarea class="form-rounded p-5 w-75" name="answer-portal" id="" placeholder="Type your answer here" cols="30" rows="10"></textarea>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-success m-3"> <i class="fa fa-arrow-left" aria-hidden="true"></i><- PREVIOUS</button>
          <button type="button" class="btn btn-success m-3"> <i class="fa fa-arrow-right" aria-hidden="true"></i> NEXT -> </button>
        </div>
        <div class="col-sm-6">
          <div class="container">
            <p>
              <a (click)="openSm(content)">
                Record Answer
              </a>
              <!-- <i class="glyphicon glyphicon-record"></i> -->
            </p>
            <p>
              <!-- <i class="fas fa-coffee"></i> -->
              <a href="">
                Attach a File
              </a>  
            </p>
          </div>
        </div>
  
      </div>
    </div>
    <div>
    </div>
  </div>
</div>


<!-- Modal popup -->
<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button> -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Record Dialog Box</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Record Your Answer Here</p>
    <div *ngFor="let item of questions;let i = index">
      <button class="start-button" *ngIf="!item.isRecording && !item.blobUrl" (click)="startRecording(item,i)">Start Recording</button>
      <button class="stop-button" *ngIf="item.isRecording && !item.blobUrl" (click)="stopRecording(item, i)">Stop Recording</button>
      <div *ngIf="item.isRecording && !item.blobUrl"> {{item.recordedTime}} </div>
      <div>
        <audio *ngIf="!item.isRecording && item.blobUrl"  controls>
          <source [src]="item.blobUrl" type="audio/webm">
        </audio>
      </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>