.wrapper{
    background: lightblue url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-chinese-style-ppt-background-blue-bamboo-forest-cool-and-quiet-style-image_56849.jpg") no-repeat fixed center;
    height: 800px;
    width: 100%;
}

.form-rounded {
    border-radius: 1rem;
}