.wrapper {
    background: lightblue url("https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&w=1000&q=80") no-repeat fixed center;
    background-size: cover;
    height: 800px;
    background-color: #FD746C;
    width: 100%;
}


/* You can add global styles to this file, and also import other style files */

.ml-25 {
    margin-left: 25% !important;
}

.toast-top-center {
    top: 100px !important;
}

:disabled {
    cursor: not-allowed;
}