.wrapper {
    background: lightblue url("https://image.freepik.com/free-vector/colorful-gradient-background-with-bokeh-effect_23-2148358216.jpg") no-repeat fixed center;
    background-size: cover;
    height: 800px;
    background-color: #FD746C;
    width: 100%;
}


/* You can add global styles to this file, and also import other style files */

.ml-25 {
    margin-left: 25% !important;
}

.toast-top-center {
    top: 100px !important;
}

:disabled {
    cursor: not-allowed;
}

a:href {
    cursor: pointer;
}

@media (max-width: 600px) {
    .wrapper {
        height: auto !important;
    }
    .ml-25 {
        margin-left: 0px !important;
        ;
    }
}